@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", sans-serif, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New";
  background: rgb(26, 29, 36) !important;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.contain-a {
  display: flex !important;
  position: relative;
  padding: 15px 30px;
  border-bottom: 1px solid #3333;
}

.contain-a button {
  position: absolute;
  right: 30px;
}

/*Sign In*/
.sign-mn-cont {
  display: grid;
  grid-template-columns: 1fr;
}

.sign-child-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/*Sn-2*/
.btn-primary {
  border-color: none !important;
  background-color: #ffe699 !important;
  color: #222121 !important;
  border: none !important;
  width: 100%;
}

.sn-2 {
  color: #ffffff !important;
  position: relative;
}

.sn-2::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(./img/map.jpg);
  background-size: cover;
}

.sn-2 a,
.form-label {
  /* color: #ffe699; */
  color: #ffffff;
  font-size: 0.8rem;
}

.sn-2 a:hover {
  color: #e4ce8d;
}

.sn-2 input {
  border: 2px solid #fffffff8;
}

.sn-2 input:focus {
  border: 2px solid #ecc449;
}

.btn-primary:hover {
  background-color: #e4ce8d !important;
}

.auth-form {
  width: 28%;
  border-radius: 6px;
  padding: 20px 15px;
}

.sn-btn {
  background-color: #ffe699;
  color: #222121 !important;
}

.form-alert-p {
  margin-bottom:0;
}

.colm {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.colm div:nth-child(1) {
  margin-right: 1em;
}


@media (max-width: 1156px) {
  .auth-form {
    width: 50%;
  }

  .sn-1 {
    font-size: 25px;
  }
}

@media (max-width: 928px) {
  .auth-form {
    width: 60%;
  }

  .sn-1 {
    font-size: 25px;
  }
}

@media (max-width: 825px) {
  .auth-form {
    width: 50%;
  }

  .sn-1 {
    font-size: 25px;
  }

  .sn-1 {
    display: none;
  }

  .sign-mn-cont {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .auth-form {
    width: 60%;
  }
  .colm {
    display: flex;
    flex-direction: column;
  }

  .colm div:nth-child(1) {
    margin-right: 0;
  }
}

@media (max-width: 649px) {
  .auth-form {
    width: 70%;
  }
}


/*Home chat Page*/
.chat-container {
  display: grid;
  grid-template-columns: 1fr 1.8fr 1fr;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.chat-container > div {
  color: #ffffff;
}

.c-col-1 {
  display: grid;
  grid-template-columns: 1fr 5.5fr;
  overflow-y: scroll;
}

.c-col-1::-webkit-scrollbar {
  background: rgb(24, 23, 23);
  z-index: 2;
}

::-webkit-scrollbar {
  background: #f04c4d;
  width: 6px;
  height: 6px;
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background: #f04c4d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f04c4d;
  cursor: pointer;
}

.c-col-nth-1 {
  background-color: #111620;
  padding-top: 1.5rem;
  border-right: 1px solid #302d2d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-col-nth-2 {
  background-color: #2b2c2e;
}

.search-case {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 1.5rem 0.5rem;
  background-color: #2b2c2e;
}

.mi-search {
  background-color: #111620;
  padding: 0.3rem 0.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  border-radius: 4rem;
}

.mi-search button,
.mi-search input {
  background-color: rgba(255, 0, 0, 0) !important;
  outline: none !important;
  border: none !important;
  color: #ffffff !important;
}

.mi-search input {
  padding: 0 0.6rem;
  font-size: 0.85rem;
}

.width-100 {
  width: 100%;
}

.logo-img {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.3rem;
}

.logo-img img {
  width: 60%;
  margin: 0.5rem;
}

.chat-prof-img {
  border: 2px solid #b88c15;
  border-radius: 6px;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.356);
}

.chat-prof-img img {
  width: 100%;
  border-radius: 6px;
}

.chat-nav {
  margin: 1.3rem 0 0rem 0;
}

.chat-nav-opt {
  padding: 0.2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-nav-opt p {
  margin-bottom: 0;
  font-weight: lighter;
  font-size: 12px;
}

.chat-nav-opt:hover {
  cursor: pointer;
}

.mi-search button {
  border-right: 1px solid#302d2d !important;
  padding-right: 0.6rem;
}

.c-col-2 {
  position: relative;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr 6fr 1fr;
}
.c-col-2::-webkit-scrollbar {
  background: rgb(24, 23, 23);
  z-index: 2;
}

::-webkit-scrollbar {
  background: #f04c4d;
  width: 6px;
  height: 6px;
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background: #f04c4d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f04c4d;
  cursor: pointer;
}

.col-nth-option {
  position: sticky;
  top: 2%;
}

.messageContainer {
  position: sticky;
  bottom: 0;
  width: 100%;
}

.c-col-3 {
  background-color: #111620;
  border-left: 1px solid #302d2d;
}

.chat-img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50px;
  background-image: url(./img/67d22002d95c775b2f62c32af9b91f88.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.chat-output {
  padding: 1.5rem 0.5rem;
}

.chat-box {
  background-color: #111620;
  border-radius: 4px;
  padding: 0.5rem 0.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.356);
  margin-bottom: 1.5rem;
  position: relative;
}

.chat-description {
  margin: 0.25rem;
}
.chat-description h4 {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.chat-description p {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.chat-description span {
  font-size: 0.75rem;
  color: #887575;
}

.no-of-messages {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.col2-header {
  background-color: #111620;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.col2-top-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.guest-case {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.guest-img {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 0;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.guest-description {
  padding: 0 0.4rem;
}

.guest-description h4 {
  font-size: 1rem;
}

.guest-description p {
  font-size: 0.8rem;
  color: #887575;
}

.guest-description h4,
.guest-description p {
  margin-bottom: 0;
}

.mi-type {
  background-color: #111620;
  padding: 0.3rem 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-radius: 4rem;
  width: 100%;
}

.mi-type button,
.mi-type textarea {
  background-color: rgba(255, 0, 0, 0) !important;
  outline: none !important;
  border: none !important;
  color: #ffffff !important;
}

.mi-type textarea {
  padding: 0 0.6rem;
  font-size: 0.85rem;
  width: 100%;
}

.mi-type .fa-caret-right {
  font-size: 2.5rem;
}

.autoResize {
  resize: none;
}

._cht_showroom {
  padding: 1rem 1rem;
  /* height: 79vh; */
  /* margin-top: 4.5rem; */
}

._mi_cht {
  position: relative;
  font-size: 0.8rem;
  max-width: 50%;
  padding: 0.3rem;
  background-color: #f04c4d;
  border-radius: 6px 0 6px 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.356);
}

._gue_cht {
  position: relative;
  font-size: 0.8rem;
  max-width: 50%;
  padding: 0.3rem;
  background-color: #c42b8e;
  border-radius: 0 6px 6px 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.356);
}

._mi_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

._mi_time {
  color: #887575;
  position: absolute;
  bottom: -25px;
  right: 0;
  min-width: 4rem;
  min-width: 4rem;
}

._gue_time {
  color: #887575;
  position: absolute;
  bottom: -25px;
  left: 0;
  min-width: 4rem;
}

.c-col-3 {
  padding: 2rem 0;
}

.c-col-3-nth-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

._gue_prof_img {
  width: 10rem;
  height: 10rem;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.c-col-3-nth-child p {
  font-weight: 300;
}

._gue_description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 85%;
}

._gue_description h4 {
  font-size: 1rem;
}

._gue_description p {
  color: #b19b9b;
}

._gue_media_frame {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

._gue_media {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
}

.user_close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  cursor: pointer;
}

.col-nth-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#f-error,
#l-error,
#e-error,
#p-error,
#cp-error {
  display: none;
  color: rgb(197, 186, 30);
} 

@media (max-width: 1292px) {
  .chat-container {
    grid-template-columns: 1fr 1.8fr;
  }

  .c-col-3 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    width: 20rem;
    display: none;
  }
}

@media (max-width: 978px) {
  .chat-container {
    grid-template-columns: 1fr 12fr;
  }

  .c-col-1 {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
  }

  .c-col-nth-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    width: 20rem;
    display: none;
  }
}

@media (max-width: 703px) {
  .chat-container {
    grid-template-columns: 1fr;
  }

  .c-col-1 {
    display: none;
  }

  /* .c-col-nth-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:flex-start;
    padding-top: 0;
    display:none;
  }

  .col-nth-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 100%;
  } */
}

@media (max-width: 534px) {
  ._mi_cht {
    max-width: 60%;
  }

  ._gue_cht {
    max-width: 60%;
  }
}

/*Users*/

.user {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  padding: 0.5rem 0;
  border-bottom: 1px solid #2e2727;
}

.user_img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

.users_description h4 {
  font-size: 0.9rem;
  margin-bottom: 0;
  cursor: pointer;
}

.users_description p {
  font-size: 0.9rem;
  margin-bottom: 0;
  color: #b19b9b;
  cursor: pointer;
}

.users_img_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.users_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-col-3 {
  overflow-y: auto;
}

.c-col-3::-webkit-scrollbar {
  background: #9c3333;
  width: 6px;
  height: 6px;
  padding: 2px;
}

.c-col-3::-webkit-scrollbar-thumb {
  background: #f04c4d;
  border-radius: 10px;
}

.c-col-3::-webkit-scrollbar-thumb:hover {
  background: #f04c4d;
  cursor: pointer;
}

.user_btn {
  padding: 0.5rem 1.5rem;
  outline: none;
  font-size: 1rem;
  background: #f04c4d;
  border-radius: 4px;
  color: #ffffff;
  outline: none;
  border: none;
  margin-bottom: 1rem;
}

.user_btn:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.356);
}

/*Friends UI Updates */
.user-nth-container .title {
  font-size: 1.2rem;
  font-weight: 400;
}

.frnds {
  border: none !important;
  /* border: 1px solid rgb(56, 51, 51); */
  background-color: #111620;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.356);
  border-radius: 4px;
  margin-bottom: 1rem;
}

/* Darshboard */

.darshboard_container,
.d_com,
.darshboard_container .d_frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.darshboard_container .d_frame {
  width: 60%;
}

.darshboard_container .d_frame img {
  width: 60%;
}

.d_com {
  margin-top: 0.9rem;
}

.d_com h2 {
  font-weight: lighter;
  margin-bottom: 1rem;
  text-align: center;
}

.d_com p {
  font-weight: lighter;
  color: #b19b9b;
  font-size: 1.2rem;
  text-align: center;
}

.power_off {
  position: absolute;
  bottom: 40px;
}

