.users_posts {
    margin-bottom: 4rem;
}


.users_nav {
    background-color: #111620 !important;
    padding: 1rem;
    top: 0;
}



.posts_tags {
    background-color: #212325;
    padding: 0.5rem;
    border-top:1px solid #302d2d;
    border-bottom:1px solid #302d2d;
    flex-wrap: wrap;
    top: 4rem;
}


.Itag {
    margin:1rem 0.5rem;
    background-color: rgb(7, 43, 65);
    width: fit-content;
    border-radius: 12px;
    padding: 0 0.5rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 36%);
    cursor: pointer;
}


.profile_img {
    width: 3.5rem;
    height: 3.5rem;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    border-radius: 5px;
    margin-right: 1rem;
}


.posts_frame img {
    width: 100%;
}

.posts_frame {
    width: 80%;
    background-color: #111620;
    padding: 1.5rem 0;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 36%);
}


.three-dots {
    margin-left: 0.5rem !important;
    font-size: 1.1rem;
    cursor: pointer;
}

.mtime {
    margin-right: 4rem;
}

.msticky {
    position: sticky;
    z-index: 1;
    width: 100%;
  }


  .dsearch {
    background-color: #0b0e14;
    border-radius: 4px !important;
  }

  .dsearch input {
    width:100%;
  }

  .msearch_container {
    width: 60%;
  }


  /*Posts*/
  .m_textarea .autoResize{
        width: 100%;
        min-height: 6rem;
        padding: .63rem;
        color: aliceblue;
        background-color: #0b0e14;
        border: none;
        font-size: 0.9rem !important;
  }

  .icn_opt {
    cursor: pointer;
    padding: .2rem;
    background-color: #0b0e14;
    border-radius: 4px;
    opacity: 0.6;
  }

  .icn_opt:hover {
    opacity: 1;
    transition: 0.1s;
    color: #a3c4f3;
    transform: translateY(-0.5px);
    box-shadow: 0px 0px 0px 2px #a3c4f365;
    -webkit-box-shadow: 0px 0px 0px 2px #a3c4f365;
    -moz-box-shadow: 0px 0px 0px 2px #a3c4f365;
  }

  .icn_opt:active {
    transform: scale(0.95);
  }

  .user_post_button {
    background: #f04c4d;
    padding: 0 2rem;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.356);
  }

  

  /*Comments*/

  .comment_prof {
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    border-radius: 5px;
    margin-right: 1rem;
  }

  .mi-put {
    background-color: #0d1018;
    padding: 0.3rem 0.5rem;
    border-radius: 4rem;
    width: 90%;
  }
  
  .mi-put button,
  .mi-put input {
    background-color: #0d1018;
    outline: none !important;
    border: none !important;
    color: #ffffff !important;
    width: 80%;
  }
  
  .mi-put input {
    padding: 0 0.6rem;
    font-size: 0.85rem;
  }
  
  .gen_posts_comment {
    width: 80%;
  }

  
._gue_icn {
  color: #887575;
  position: absolute;
  bottom: -25px;
  right: 0;
  min-width: 4rem;
}


.chatAltIcon {
  width: 1.53rem;
  margin-right: 0.3rem;
}

.thumbUpIcon {
  width: 1.53rem; 
  margin-right: 0.3rem;
} 

.shareIcon {
  width: 1.3rem; 
  margin-right: 0.3rem; 
}

.userIcon {
  width: 1.53rem; 
  margin-right: 0.3rem;
}




@media (max-width:500px) {
  .posts_frame {
    width: 90%;
}

.chatAltIcon, .thumbUpIcon, .shareIcon, .userIcon {
  width: 1rem;
}

.post-opt {
  flex-direction: column;
}

.post-opt div {
  justify-content: space-between;
}

.post-opt div:nth-child(1) {
  margin-bottom: 0.2rem;
}

.post-opt div:nth-child(2) {
  justify-content: flex-end;
  margin-right: 0.5rem;
}




}